* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

main {
  width: 100%;
  min-width: 32rem;
  margin: 0 auto;
}

.inactive {
  display: none;
}

header {
  width: 100%;
  min-width: 32rem;
  margin: 0 auto;
}

.bar-nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.bar-nav__title {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-color: #038C33;
  display: block;
  width: 18rem;
  height: 4rem;
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 1rem;
}
.bar-nav__menu {
  margin-top: 0.5rem;
  margin-right: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
.bar-nav__menu__whatsapp {
  width: 3.5rem;
  height: 3.5rem;
}

.section-home {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-home__h2 {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4rem;
}
.section-home__p {
  width: 70%;
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 2rem;
}

.button-more {
  width: 18rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: #038C33;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 4rem;
}

.button-more--position {
  margin-bottom: 4rem;
}

.section-card {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-card__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  margin-top: 4rem;
}
.section-card__h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4rem;
}
.section-card__p {
  width: 50%;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2rem;
}

.box-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  opacity: 90%;
}
.box-menu__botones {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-menu__botones__home {
  background-color: transparent;
  border: none;
  margin-top: 6rem;
}
.box-menu__botones__close {
  background-color: transparent;
  border: none;
  margin-top: 6rem;
}
.box-menu__paginas {
  width: 60%;
  margin-left: 3rem;
  margin-top: 8rem;
}
.box-menu__paginas__lista {
  list-style: none;
}
.box-menu__paginas__lista li {
  font-size: 1.6rem;
  margin-top: 3rem;
  font-weight: 500;
}

.whatsapp-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 3rem;
  bottom: 10rem;
}

.footer {
  width: 100%;
  background-color: #000;
  opacity: 90%;
  min-width: 32rem;
  color: #fff;
}
.footer__h2 {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4rem 0 2rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.footer__informacion {
  padding-left: 4rem;
}
.footer__informacion__fijo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
}
.footer__informacion__whatsapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
}
.footer__informacion__horarios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
  align-items: flex-start;
}
.footer__informacion__ubicacion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
  align-items: flex-start;
}
.footer__map {
  width: 100%;
}
.footer__map__img {
  width: 100%;
}
.footer__menu {
  padding: 4rem 0 6rem 4rem;
}
.footer__menu__title {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 2rem;
}
.footer__menu__list {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 1.5rem;
}
.footer__menu__list li {
  margin-top: 2rem;
  font-weight: 400;
  cursor: pointer;
}
.footer__pie-de-pagina {
  text-align: center;
  padding-bottom: 1rem;
  color: #038C33;
  font-size: 1.3rem;
}

.whatsapp-info {
  width: 15rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #038C33;
  background-color: #000;
  color: #fff;
  margin: 4rem 0 4rem 0;
  cursor: pointer;
}

.carrusel {
  width: 100%;
  height: 30rem;
  display: flex;
}
.carrusel__item {
  width: 100%;
  height: 100%;
}
.carrusel__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-about {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}
.section-about__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-about__article__h2 {
  font-size: 2.4rem;
  margin: 2rem;
}
.section-about__article__p {
  width: 80%;
  margin: 2rem 0 2rem 0;
  font-size: 1.3rem;
  text-align: justify;
  margin: 0 auto;
}

.section-about__p--fp {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.section-producto {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}
.section-producto__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-producto__article__h2 {
  font-size: 2.4rem;
  margin: 2rem;
}

.call-action {
  background-color: #00586E;
  margin-top: -2rem;
  margin-bottom: 6rem;
}

.call-action-1 {
  background-color: #00586E;
  margin-top: 2rem;
}

/*# sourceMappingURL=estilos.css.map */
