* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

main {
  width: 100%;
  min-width: 32rem;
  margin: 6rem auto;
}

.inactive {
  display: none;
}

header {
  width: 100%;
  min-width: 32rem;
  margin: 0 auto;
}

.bar-nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
}
.bar-nav__title {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-color: #038C33;
  display: block;
  width: 18rem;
  height: 4rem;
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 1rem;
}
.bar-nav__menu {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
.bar-nav__menu__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-nav__menu__whatsapp {
  width: 3.5rem;
  height: 3.5rem;
}

.section-home {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-home__h2 {
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4rem;
}
.section-home__p {
  width: 70%;
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 2rem;
}

.button-more {
  width: 18rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: #038C33;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 4rem;
}

.button-more--position {
  margin-bottom: 4rem;
}

.section-card {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-card__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  margin-top: 4rem;
}
.section-card__h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4rem;
}
.section-card__p {
  width: 50%;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2rem;
}

.whatsapp {
  width: 6rem;
  border-radius: 1.5rem 0 0 1.5rem;
  border: none;
  position: fixed;
  right: 0;
  bottom: 8rem;
  z-index: 4;
}

.box-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  opacity: 90%;
}
.box-menu__botones {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-menu__botones__home {
  background-color: transparent;
  border: none;
  margin-top: 6rem;
}
.box-menu__botones__close {
  background-color: transparent;
  border: none;
}
.box-menu__paginas {
  width: 60%;
  margin-left: 3rem;
  margin-top: 8rem;
}
.box-menu__paginas__lista {
  list-style: none;
}
.box-menu__paginas__lista li {
  font-size: 1.6rem;
  margin-top: 3rem;
  font-weight: 500;
}

.whatsapp-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 3rem;
  bottom: 10rem;
}

.footer {
  width: 100%;
  background-color: #000;
  opacity: 90%;
  min-width: 32rem;
  color: #fff;
}
.footer__h2 {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4rem 0 2rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.footer__informacion {
  padding-left: 4rem;
}
.footer__informacion__fijo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
}
.footer__informacion__whatsapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
}
.footer__informacion__horarios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
  align-items: flex-start;
}
.footer__informacion__ubicacion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
  align-items: flex-start;
}
.footer__map {
  width: 100%;
}
.footer__map__img {
  width: 100%;
}
.footer__menu {
  padding: 4rem 0 6rem 4rem;
}
.footer__menu__title {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 2rem;
}
.footer__menu__list {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 1.5rem;
}
.footer__menu__list li {
  margin-top: 2rem;
  font-weight: 400;
  cursor: pointer;
}
.footer__pie-de-pagina {
  text-align: center;
  padding-bottom: 1rem;
  color: #038C33;
  font-size: 1.3rem;
}

.whatsapp-info {
  width: 15rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #038C33;
  background-color: #000;
  color: #fff;
  margin: 4rem 0 4rem 0;
  cursor: pointer;
}

.carrusel {
  width: 100%;
  height: 30rem;
  display: flex;
}
.carrusel__item {
  width: 100%;
  height: 100%;
}
.carrusel__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-about {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}
.section-about__article {
  width: 100%;
  margin: 10rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-about__article__h2 {
  font-size: 2.4rem;
  margin: 0 0 4rem 0;
}
.section-about__article__p {
  width: 80%;
  margin: 2rem 0 2rem 0;
  font-size: 1.3rem;
  text-align: justify;
  margin: 0 auto;
}

.section-about__p--fp {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.section-contacto {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}

.article-form {
  width: 100%;
  margin: 10rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-form__h2 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}
.article-form__p {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}
.article-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.article-form__form__input--name, .article-form__form__input--correo, .article-form__form__input--telefono, .article-form__form__input--ciudad, .article-form__form__input--producto {
  width: 25rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1.5px solid rgba(51, 51, 51, 0.4156862745);
  padding-left: 1.5rem;
}
.article-form__form__input--name:focus, .article-form__form__input--correo:focus, .article-form__form__input--telefono:focus, .article-form__form__input--ciudad:focus, .article-form__form__input--producto:focus {
  border: 1.5px solid #038C33;
}
.article-form__form__input--mensaje {
  width: 25rem;
  border: 1.5px solid rgba(51, 51, 51, 0.4156862745);
  padding-top: 1rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}
.article-form__form__button {
  width: 18rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: #038C33;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.section-levadura {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}

.article-levadura {
  width: 100%;
  margin: 10rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-levadura__h2 {
  width: 80%;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.article-levadura__img-1 {
  width: 100%;
  margin-bottom: 1rem;
}
.article-levadura__img-2 {
  width: 100%;
  margin: 4rem 0 2rem 0;
}
.article-levadura__p--italic {
  width: 90%;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.9176470588);
  margin-bottom: 2rem;
}
.article-levadura__bloque-p {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.article-levadura__bloque-p__p {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}
.article-levadura__button {
  width: 18rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: #038C33;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.section-lyscell {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}
.section-lyscell__article {
  width: 100%;
  margin: 10rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.section-lyscell__article__h2 {
  width: 80%;
  font-size: 2.4rem;
  text-align: center;
}
.section-lyscell__article__p--tittle {
  width: 90%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.9176470588);
}
.section-lyscell__article__img {
  width: 30rem;
  margin-top: -2rem;
}
.section-lyscell__article__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -2rem;
  background-color: #000;
  color: #fff;
  opacity: 90%;
  border-radius: 1rem 1rem 0 0;
}
.section-lyscell__article__div__p--tittle {
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
}
.section-lyscell__article__div__p {
  width: 90%;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: justify;
}
.section-lyscell__article__div__bloque-botones {
  width: 90%;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-lyscell__article__div__bloque-botones__button--tabla {
  width: 70%;
  height: 3rem;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-lyscell__article__div__bloque-botones__button--comprar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #00586E;
}

.section-rumenyeast {
  width: 100%;
  margin: 0 auto;
  min-width: 32rem;
}
.section-rumenyeast__article {
  width: 100%;
  margin: 10rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.section-rumenyeast__article__h2 {
  width: 80%;
  font-size: 2.4rem;
  text-align: center;
}
.section-rumenyeast__article__p--tittle {
  width: 90%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.9176470588);
}
.section-rumenyeast__article__img {
  width: 30rem;
  margin-top: -2rem;
}
.section-rumenyeast__article__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -2rem;
  background-color: #000;
  color: #fff;
  opacity: 90%;
  border-radius: 1rem 1rem 0 0;
}
.section-rumenyeast__article__div__p--tittle {
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
}
.section-rumenyeast__article__div__p {
  width: 90%;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: justify;
}
.section-rumenyeast__article__div__bloque-botones {
  width: 90%;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-rumenyeast__article__div__bloque-botones__button--tabla {
  width: 70%;
  height: 3rem;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-rumenyeast__article__div__bloque-botones__button--comprar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #00586E;
}

/*# sourceMappingURL=estilos.css.map */
