@use 'global';

.footer {
    width: 100%;
    background-color: global.$primary-color;
    opacity: 90%;
    min-width: 32rem;
    color: global.$withe-color;
    @include global.media-down(md) {
        display: flex;
        flex-direction: row-reverse;
        
        
   }
   @include global.media-down(lg) {
    display: flex;
}
    
    &__h2 {
        font-size: global.$font-size-title;
        font-weight: 300;
        padding: 4rem 0 2rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    &__informacion {
        padding-left: 4rem;
        padding-bottom: 4rem;
        &__fijo {
            @include global.elementosFooter;
        }
        &__whatsapp {
            @include global.elementosFooter;
        }
        &__horarios {
            @include global.elementosFooter;
            align-items: flex-start
        }
        &__ubicacion {
            @include global.elementosFooter;
            align-items: flex-start
        }
    }
    &__map {
        width: 100%;
        @include global.media-down(lg) {
            display: none;
            
        }
        @include global.media-down(md) {
            display: none;
           
        }
        @include global.media-down(sm) {
            display: none;
           
        }
        &__img {
            width: 100%;
            @include global.media-down(lg) {
                height: 35rem;
                
            }
            @include global.media-down(md) {
                height: 35rem;
               
            }
            
        }
    }
    .container__info--footer {
        @include global.media-down(sm) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 4rem;  
        }
        @include global.media-down(md) {
            width: 50%;
            display: flex;
            flex-direction: row;
            gap: 4rem;  
        }
        @include global.media-down(lg) {
            width: 50%;
            display: flex;
            flex-direction: row;
            gap: 6rem;  
        }
    }
    &__menu {
        padding: 4rem 0 6rem 4rem;
        &__title {
            font-size: global.$font-size-title;
            font-weight: 300;
            padding-bottom: 2rem;
        }
        &__list {
            font-size: global.$font-size-text;
            font-weight: 100;
            margin-left: 1.5rem;
        }
        &__list li {
            margin-top: 2rem;
            font-weight: 400;
            cursor: pointer;
        }
    }
    &__pie-de-pagina {
        text-align: center;
        padding-bottom: 1rem;
        color: global.$second-color;
        font-size: global.$font-size-text;
    }
}
.footer__menu {
    @include global.media-up(sm) {
        display: none;  
    }
}
.whatsapp-info {
    width: 15rem;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1.5rem;
    border: 2px solid global.$second-color;
    background-color: global.$primary-color;
    color: global.$withe-color;
    margin: 4rem 0 4rem 0;
    cursor: pointer;
}

