$font:'Inter', sans-serif;
$font-logo:'Rubik', sans-serif;
$font-size-logo: 2rem;
$font-size-title: 1.6rem;
$font-size-title-section: 2.4rem;
$font-size-text: 1.3rem;
$primary-color: #000;
$second-color: #038C33;
$call-action-products: #00586E;
$withe-color: #fff;
$dark-second-color: #A64F03;

$breackpoints: (
    sm: 480px,
    md: 960px,
    lg: 1280px,
);

@mixin elementosFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: $font-size-text;
    font-weight: 300;
    margin-top: 2rem;
}
@mixin articulosDelMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin cajasMobil {
    width: 100%;
    margin: 0 auto;
    min-width: 32rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: $font;
    position: relative;
}
main {
    width: 100%;
    min-width: 32rem;
    margin: 6rem auto; 
}
.inactive {
    display: none;
}

