@use 'global';

.box-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    z-index: 2;
    background-color: global.$withe-color;
    opacity: 90%;
    &__botones {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__home {
            background-color: transparent;
            border: none;
            margin-top: 6rem;
        }
        &__close {
            background-color: transparent;
            border: none;
        }
    }
    &__paginas {
        width: 60%;
        margin-left: 3rem;
        margin-top: 8rem;
        &__lista {
            list-style: none;
        }
        &__lista li {
            font-size: global.$font-size-title;
            margin-top: 3rem;
            font-weight: 500;
        }

    }

}
.whatsapp-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 3rem;
    bottom: 10rem;
}
