@use 'global';

.section-lyscell {
    @include global.cajasMobil;
    &__article {
        @include global.articulosDelMenu;
        width: 90%;
        margin: 10rem auto 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__img {
            margin-bottom: 2.5rem;
        }
        &__p {
            font-size: global.$font-size-text;
            text-align: justify;
            margin-bottom: 2.5rem;
        }
        &__div__bloque-botones {
            width: 80%;
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            &__button--tabla {
                width: 20rem;
                min-width: 20rem;
                height: 3rem;
                background-color: global.$second-color;
                color: global.$withe-color;
                border: none;
                border-radius: 1rem;
                font-size: global.$font-size-text;
                font-weight: 600;
                cursor: pointer;
            }
            &__button--comprar {
                width: 4rem;
                height: 4rem;
                min-width: 4rem;
                border-radius: 50%;
                border: none;
                background-color: global.$call-action-products;
                cursor: pointer;
            }
        }
    }
}

.section-rumenyeast {
    @include global.cajasMobil;
    &__article {
        @include global.articulosDelMenu;
        width: 90%;
        margin: 10rem auto 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__img {
            margin-bottom: 2.5rem;
        }
        &__p {
            font-size: global.$font-size-text;
            text-align: justify;
            margin-bottom: 2.5rem;
        }
        &__div__bloque-botones {
            width: 80%;
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            &__button--tabla {
                width: 20rem;
                min-width: 20rem;
                height: 3rem;
                background-color: global.$second-color;
                color: global.$withe-color;
                border: none;
                border-radius: 1rem;
                font-size: global.$font-size-text;
                font-weight: 600;
                cursor: pointer;
            }
            &__button--comprar {
                width: 4rem;
                height: 4rem;
                min-width: 4rem;
                border-radius: 50%;
                border: none;
                background-color: global.$call-action-products;
                cursor: pointer;
            }
        }
    }
}