@use 'global';
@use 'base';

//seccion de quienes somos
.section-about {
    @include global.cajasMobil;
    &__article {
        @include global.articulosDelMenu;
        &__h2 {
            font-size: global.$font-size-title-section;
            margin: 0 0 4rem 0;
        }
        &__p {
            width: 80%;
            margin: 2rem 0 2rem 0;
            font-size: global.$font-size-text;
            text-align: justify;
            margin: 0 auto;
            
    
        }
    }
    
}
.section-about__p--fp {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

//seccion de productos
.section-producto {
    @include global.cajasMobil;
    
    &__h2 {
        @include global.articulosDelMenu;
        width: 80%;
        font-size: global.$font-size-title-section;
        margin-bottom: 4rem;
        text-align: center;
        margin: 10rem auto 4rem auto;
    }
    &__article {
        width: 30rem;
        height: 45rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        &__img {
            width: 25rem;
            margin-top: -4rem;
            margin-bottom: -2rem;
        }
        &__h3 {
            width: 80%;
            font-size: global.$font-size-text;
            text-align: left;
            margin-bottom: 0.5rem;
        }
        &__div {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 1rem 0 1rem 0;
            gap: 0.5rem;
            &__p--ref {
                font-size: global.$font-size-text;
                font-weight: 500;
            }
            &__p--price {
                font-size: global.$font-size-text;
                font-weight: 700;
                color: global.$second-color;
            }
        }
        &__p {
            width: 80%;
            font-size: global.$font-size-text;
            margin-bottom: 1rem;
        }
        &__box-button {
            width: 80%;
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            &__tabla {
                width: 80%;
                height: 3rem;
                background-color: global.$second-color;
                color: global.$withe-color;
                border: none;
                border-radius: 1rem;
                font-size: global.$font-size-text;
                font-weight: 600;
                cursor: pointer;
            }
            &__carrito {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: none;
                background-color: global.$call-action-products;
                cursor: pointer;
            }
        }
    }
}


//contacto
.contact--map {
    width: 30rem;
    height: 10rem;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    &__img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-radius: 0 0 1rem 1rem;
        cursor: pointer;
    }
}
.contact--info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 12rem;
    @include global.media-up(md) {
        display: none;
   }
   @include global.media-down(md) {
    grid-column: 1/2;
    background-color: global.$primary-color;
    color: global.$withe-color;
    border-radius: 1rem;
    }
}
.div--title--contact {
    @include global.media-up(md) {
        display: none;
   }
   @include global.media-down(md) {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}
.h2--contact {
    width: 100%;
    text-align: center;
    font-size: global.$font-size-title-section;
    margin-top: 4rem;
}
.p--contact {
    width: 100%;
    text-align: center;
    font-size: global.$font-size-text;
    margin-top: 0.5rem;
    margin-bottom: -4rem;
}
.section-contacto {
    @include global.cajasMobil;
    margin-top: 8rem;
    @include global.media-down(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        @include global.media-down(md) {
            display: grid;
            margin: 0 auto;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
       }
   }
}
.article-form {
    @include global.articulosDelMenu;
    @include global.media-down(md) {
        width: 50%;
        grid-column: 2/3;
   }
    &__h2 {
        font-size: global.$font-size-title-section;
        margin-bottom: 0.5rem;
        @include global.media-down(md) {
            display: none;
       }
    } 
    &__p {
        font-size: global.$font-size-text;
        font-family: global.$font;
        font-weight: 500;
        margin-bottom: 2rem;
        @include global.media-down(md) {
            display: none;
       }
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        &__input--name, &__input--correo, &__input--telefono, &__input--ciudad, &__input--producto {
            @include global.inputForm;
        } 
        &__input--mensaje {
            width: 25rem;
            border: 1.5px solid #3333336a;
            padding-top: 1rem;
            padding-left: 1.5rem;
            border-radius: 1rem;
        }
        &__button {
            width: 20rem;
            min-width: 20rem;
            height: 3rem;
            border-radius: 1rem;
            border: none;
            background-color: global.$second-color;
            color: global.$withe-color;
            font-size: global.$font-size-text;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

//levadura 

.section-levadura {
    @include global.cajasMobil;
}
.article-levadura {
    @include global.articulosDelMenu;
    &__h2 {
        width: 80%;
        font-size: global.$font-size-title-section;
        margin-bottom: 4rem;
        text-align: center;
    }
    &__img-1 {
        width: 100%;
        margin-bottom: 1rem;
    }
    &__img-2 {
        width: 100%;
        margin: 4rem 0 2rem 0;
    }
    &__p--italic {
        width: 90%;
        font-family: global.$font;
        font-size: 1.1rem;
        text-align: center;
        color:#333333ea;
        margin-bottom: 2rem;
    }
    &__bloque-p {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &__p {
            font-family: global.$font;
            font-size: global.$font-size-text;
            text-align: justify;
        }
    }
    &__button {
        width: 20rem;
        min-width: 20rem;
        height: 3rem;
        border-radius: 1rem;
        border: none;
        background-color: global.$second-color;
        color: global.$withe-color;
        font-size: global.$font-size-text;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
}