@use 'global';
@use 'base';

//seccion de quienes somos
.section-about {
    @include global.cajasMobil;
    &__article {
        @include global.articulosDelMenu;
        &__h2 {
            font-size: global.$font-size-title-section;
            margin: 0 0 4rem 0;
        }
        &__p {
            width: 80%;
            margin: 2rem 0 2rem 0;
            font-size: global.$font-size-text;
            text-align: justify;
            margin: 0 auto;
            
    
        }
    }
    
}
.section-about__p--fp {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

//seccion de productos


//contacto

.section-contacto {
    @include global.cajasMobil;
}
.article-form {
    @include global.articulosDelMenu;
    &__h2 {
        font-size: global.$font-size-title-section;
        margin-bottom: 0.5rem;
    } 
    &__p {
        font-size: global.$font-size-text;
        font-family: global.$font;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        &__input--name, &__input--correo, &__input--telefono, &__input--ciudad, &__input--producto {
            @include global.inputForm;
        } 
        &__input--mensaje {
            width: 25rem;
            border: 1.5px solid #3333336a;
            padding-top: 1rem;
            padding-left: 1.5rem;
            border-radius: 1rem;
        }
        &__button {
            width: 18rem;
            height: 4rem;
            border-radius: 2rem;
            border: none;
            background-color: global.$second-color;
            color: global.$withe-color;
            font-size: global.$font-size-text;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

//levadura 

.section-levadura {
    @include global.cajasMobil;
}
.article-levadura {
    @include global.articulosDelMenu;
    &__h2 {
        width: 80%;
        font-size: global.$font-size-title-section;
        margin-bottom: 4rem;
        text-align: center;
    }
    &__img-1 {
        width: 100%;
        margin-bottom: 1rem;
    }
    &__img-2 {
        width: 100%;
        margin: 4rem 0 2rem 0;
    }
    &__p--italic {
        width: 90%;
        font-family: global.$font;
        font-size: 1.1rem;
        text-align: center;
        color:#333333ea;
        margin-bottom: 2rem;
    }
    &__bloque-p {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &__p {
            font-family: global.$font;
            font-size: global.$font-size-text;
            text-align: justify;
        }
    }
    &__button {
        width: 18rem;
        height: 4rem;
        border-radius: 2rem;
        border: none;
        background-color: global.$second-color;
        color: global.$withe-color;
        font-size: global.$font-size-text;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
}