@use 'global';
@use 'base';

//seccion de quienes somos
.section-about {
    @include global.cajasMobil;
    &__article {
        @include global.articulosDelMenu;
        &__h2 {
            font-size: global.$font-size-title-section;
            margin: 10rem 0 4rem 0;
        }
        &__p {
            width: 80%;
            margin: 2rem 0 2rem 0;
            font-size: global.$font-size-text;
            text-align: justify;
            margin: 0 auto;
            
    
        }
    }
    
}
.section-about__p--fp {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

//seccion de productos
.section-producto {
    @include global.cajasMobil;
    
    &__article {
        @include global.articulosDelMenu;
        margin-bottom: 2rem;
        &__h2 {
            font-size: global.$font-size-title-section;
            margin-top: 10rem;
        }

    }
}
.section-card__h2--tittle {
    margin-top: -1rem;
}

.call-action {
    background-color: global.$call-action-products;
    margin-top: -2rem;
    margin-bottom: 6rem;
}
.call-action-1 {
    background-color: global.$call-action-products;
    margin-top: 2rem;
    
}